# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Apify — Lead Finder API
VITE_AIRES_FINDER_TOKEN=
VITE_AIRES_FINDER_ACTOR=compass/crawler-google-places
VITE_AIRES_FINDER_ACTOR2=danube-home/linkedin-scraper-ligh
